<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
      <!--   UNCOMMENT AND MODIFY AS NEEDED!
        <configuration name="Sitecon.Foundation.BranchPresets" description="Sitecon.Foundation.BranchPresets" dependencies="Foundation.Serialization" extends="Helix.Foundation">
          <predicate>
            <include name="Sitecon.Foundation.BranchPresets.Some.Core.Items" database="core" path="/sitecore/path/here/has/to/changed"/>
          </predicate> 
        </configuration>
        -->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
